# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# APK and AAB
*.apk
*.aab
*.ap_

# Keystore
*.jks
*.keystore

# Gradle
.gradle/
**/build/
